{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"importOrder": [
		"<TYPES>^(node:)",
		"<TYPES>",
		"<TYPES>^[.]",
		"",
		"<BUILTIN_MODULES>",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^\\$",
		"",
		"^[.]"
	],
	"importOrderParserPlugins": ["typescript", "decorators-legacy"],
	"importOrderTypeScriptVersion": "5.8.0",
	"overrides": []
}
